{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "include": [
                    "transform-block-scoping"
                ]
            }
        ]
    ]
}
